<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>videolib</title>

</head>
<body>

<video width="600" controls controlsList="nodownload">
  <source src="http://localhost:9300/play/<%= video%>" type="video/mp4">
</video>

<!-- <p><a href="/play/">Back to the list</p> -->

<ul>
  <li><a href="/play/">Video 1</a></li>
  <li><a href="/play/">Video 2</a></li>
  <li><a href="/play/">Video 3</a></li>
</ul>

<script type="application/javascript">
  const video = document.querySelector('video');

  video.addEventListener('seeked', (event) => {
    console.log('seeked', video.currentTime, video.duration);
  });
</script>

</body>
</html>
