<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>videolib</title>

  <style type="text/css">
  video {
    object-fit: cover;
  }
  </style>

</head>
<body>

<video width="600" controls disablepictureinpicture controlsList="nodownload">
  <source src="/video/<%=filename%>/" type="video/mp4">
</video>


<!-- <p>Set playing speed:
  <a href="#" onclick="setSpeed(event, 1)">normal</a>,
  <a href="#" onclick="setSpeed(event, 1.5)">faster</a>,
  <a href="#" onclick="setSpeed(event, 2)">fastest</a>
</p> -->

<script>
  function setSpeed(event, speed) {
    event.preventDefault()
    document.getElementsByTagName('video')[0].playbackRate = speed;
   }
</script>

</body>
</html>
